@model IEnumerable<PMIS.Models.EntityModel.Person>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>مدیریت منابع انسانی<a>@ViewBag.superOrganization</a></h2>
</div>

@if (TempData["EDIT_STATE"] != null)
{
    if (TempData["EDIT_STATE"].ToString() == "OK")
    {
        <div class="alert alert-success">ویرایش با موفقیت انجام شد</div>
    }
    else
    {
        <div class="alert alert-danger">متاسفانه عملیات با خطا مواجه شد</div>
    }
}

@if (TempData["ADD_STATE"] != null)
{
    if (TempData["ADD_STATE"].ToString() == "OK")
    {
        <br />
        <div class="alert alert-success">شخص جدید با موفقیت افزوده شد</div>
        <br />

    }
    else
    {
        <br />
        <div class="alert alert-danger">@TempData["ADD_STATE"].ToString()</div>
        <br />
    }
}

<p>
    <button id="btn_add" type="button" class="btn btn-theme03"><a style="color:white" href="@Url.Action("Add")">ایجاد یک مورد جدید</a></button>
</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.User)
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Enum.GetName(typeof(RegisterType), item.RegisterType)
            </td>

            <td>
                @Enum.GetName(typeof(OrganizationPosition), item.OrganizationPosition)
            </td>

            <td>
                @Enum.GetName(typeof(OrganizationStatus), item.OrganizationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a href="@Url.Action("Detail", new { id=item.ID})"><span class="btn btn-success btn-xs btn-xs"><i class="fa fa-check"></i></span></a>
                <a href="@Url.Action("Edit", new { id=item.ID})"><span class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></span></a>
                <a href="#" onclick="DoDelete(@item.ID)"><span class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></span></a>
            </td>
        </tr>
    }

</table>

@section scripts

{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script>
        $("#btn_delete_person").click(function (evt) {

            evt.preventDefault();

            $("<div>Are you sure you want to continue?</div>").dialog({
                buttons: {
                    "Ok": function () {
                        alert('hello')
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

        function DoDelete(id) {
            var answer = confirm('آیا از حذف این شخص اطمینان دارید؟');
            if (answer) {

                            var url = '@Url.Action("Delete")';
                            $.ajax({
                                url: url,
                                type: 'POST',
                                cache: false,
                                data: { id: id },

                                success: function (result) {
                                    if (result) {
                                        alert("امکان حذف این شخص وجود ندارد");


                                    } else {
                                        alert("شخص با موفقیت حذف شد");
                                        window.location.href = '/Person/Index'
                                    }
                                }
                            });
            }
            else {
                e.preventDefault();
            }
        }
    </script>
}
